<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-multiple-apks"
      version="1.0.0">
    <name>Multiple APK Plugin</name>
    
    <engines>
        <engine name="cordova-android" version=">=3.6.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <!-- extend the standard cordova gradle build with our custom gradle file, which configures the project to build multiple apks -->
        <framework src="src/android/multiple-apks.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>